/* ====================================================================================================================
 * 폼
 * ====================================================================================================================*/
.c_search {
	padding: 15px 0px 0px 0px;
}

.form_title {
	font-size: 17px;
	font-weight: 400;
	padding: 5px 0px 0px 0px;
}

.form-group {
	padding-right: 5px;
	margin-bottom: 0px;
}

.form-group .message_box {
	padding-top: 10px;
}

.address_pd {
	margin-top: 5px;
}


.col-md-12 {
	padding-top: 50px;
}

input[type='text'], input[type='date'], input[type='email'], input[type='tel'] {
	width: 60%;
}

.addr_group, input[type='text'], input[type='button']
{
	width:50%;
}
.message {
	height: 150px;
	width: 100%;
	border: 1px solid #ccc;

}

#list_img {
	padding-top: 5px;
}

.radio-pd {
	padding-top: 8px;
}

.identify {
	color: #D96556;
}

#text_form {
	width: 100%;
	height: 500px;
}

/** 클릭된 페이지의 메뉴 끝 -----------*/

/* ====================================================================================================================
 * 상단 버튼
 * ====================================================================================================================*/
.btn-pd {padding-bottom:17px;}

/** 클릭된 페이지의 메뉴 시작 -----------*/
.admenu03 { background-color:#A48973 !important; border-right:8px solid #7E6652 !important; font-weight:400; }
.admenu_pn03 { background-color: #EBEBEB; border-right:8px solid #D4D4D4; display: block; }
.admenu_pn03 a { color:#666666; }
.admenu_pn03 a:hover { color:#000000; font-weight:400; }
#admenu_a0301 { font-weight:400; color:#000000; }
/** 클릭된 페이지의 메뉴 끝 -----------*/

/* 에러 메시지에 대한 글자 색상 */
.error {
	color: red;
}

/* 에러가 발생한 <input>태그 */
input.error {
	background-color: #ffff00;
}

/* 에러메시지가 표시중인 <label>태그 */
label.error {
	font-size: 10px;
	display: inline-block;
	padding: 5px 10px;
	margin: 0;
}


/* 글씨크기, 색깔 */
.red_font {
	color: red;
	font-weight: 700;
}

.form_title {
	font-size: 17px;
	font-weight: 400;
	padding: 20px 0px 0px 0px;
}

.no_left_padding {
	padding-left: 0;
}

.width50 {
	width: 50% !important;
}


input[type='text'] { width:100%; }
select { width:100%; }

.post_bt {
	width: auto !important;
	display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 1px 5px;
    line-height: 1.42857143;
    border-radius: 0;
    user-select: none;
    font-size:13px;
}