/** 클릭된 페이지의 메뉴 시작 -----------*/
.admenu04 { background-color:#A48973 !important; border-right:8px solid #7E6652 !important; font-weight:400; }
.admenu_pn04 { background-color: #EBEBEB; border-right:8px solid #D4D4D4; display: block; }
.admenu_pn04 a { color:#666666; }
.admenu_pn04 a:hover { color:#000000; font-weight:400; }
#admenu_a0402 { font-weight:400; color:#000000; }
/** 클릭된 페이지의 메뉴 끝 -----------*/

/* ====================================================================================================================
 * 폼
 * ====================================================================================================================*/
.c_search { padding:15px 0px 0px 0px; }
.form_title { font-size:17px; font-weight:400; padding:5px 0px 0px 0px; }
.form-group { padding-right:5px; margin-bottom:0px; }


.col-md-11 { padding-left: 0; padding-right:0px; }

input[type='text'], input[type='email'], input[type='date'] { width:60%; }

#list_img { padding-top:5px; }

.radio-pd { padding-top:8px; }

.identify { color:#D96556; }

#notice_content { width:100%; height:500px; border:none; padding: 6px 12px;}

/* 에러 메시지에 대한 글자 색상 */
.error {
	color: red;
}

/* 에러가 발생한 <input>태그 */
input.error {
	background-color: #ffff00;
}

/* 에러메시지가 표시중인 <label>태그 */
label.error {
	font-size: 10px;
	display: inline-block;
	padding: 5px 10px;
	margin: 0;
}