/* ====================================================================================================================
 * 이숲에게 묻는다
 * ====================================================================================================================*/
.ask_box {
	background-color: #f6f5e7;
}

.ask_box h1 {
	font-size: 24px;
}

.ask_box_pd {
	padding: 140px 0px 70px 0px;
	width: 70%;
	margin: auto;
}

.content-wrapper {
	margin: 30px 0px;
}

.content {
	padding: 25px;
	width: 100%;
	margin: auto;
}

.h50 { height:50px; }



/* ====================================================================================================================
 * 태블릿 PC 혹은 가로 768px 이상
 * ====================================================================================================================*/
@media ( min-width : 768px) {
	.ask_box_pd {
		padding: 63px 0px 45px 0px;
		width: 70%;
	}
	.content {
		padding: 40px 0px 20px 0px;
		width: 70%;
		margin: auto;
	}
	.ask_box h1 {
		font-size: 24px;
		padding-top: 70px;
	}
	.main_box h1 {
		margin-bottom: 20px;
	}
}

/* ====================================================================================================================
 * 가장 작은 해상도 (핸드폰종류, 가로 480px 이하)
 * ====================================================================================================================*/
@media ( max-width : 767px) {
	.ask_box_pd {
		padding: 140px 20px 45px 20px;
		width: auto;
	}
	.content {
		padding: 30px 20px 20px 20px;
		width: auto;
	}
	.main_box h1 {
		margin-bottom: 15px;
	}
}