/* ====================================================================================================================
 * 공통
 * ====================================================================================================================*/
body {
  padding:0;
  margin:0;
  background-color: #fffef2;
  overflow-x:hidden; /* 스크롤 없애기(1) */
  -ms-overflow-style: none; /* 스크롤 없애기(1) */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

* { line-height:1.7; }

/* 스크롤 없애기(2) */
::-webkit-scrollbar { display: none; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
}

a, a:hover { text-decoration:none; color:#333333; }

li { padding:0; margin:0; }

li a:hover { text-decoration:none; }


/* ====================================================================================================================
 * 최상단 무료 배송
 * ====================================================================================================================*/
.page_top_free {
  background-color:#000000;
  color:#ffffff;
  padding:0px 20px;
  height:35px;
}

#free_txt {
  color:#ffffff;
  font-size:14px;
  padding-top:5px;
  display:block;
}

#free_txt img { width:15px; padding-top:5px; }

/* 무료 배송 클릭시 상세 내용 노출/비노출 */
.overlay_delivery {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #F1F0E8;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}

.overlay_delivery.visible { height: 100%; opacity: 1; z-index:10000; }

/* 무료배송 상세페이지 나가기 버튼 */
.exit-button {float:right;}

.exit-button span {
	position: absolute;
    height: 2px;
    width: 14px;
    background-color: #252525;
    top: 30px;
    right:20px;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

.exit-button span:nth-child(1) { transform: rotate(45deg); }
.exit-button span:nth-child(2) { transform: rotate(-45deg); }

/* 무료배송 상세페이지 */
.delivery_box { position: absolute; width:100%; top:26%;}
.delivery_box2 { width:70%; margin:auto; }
.dv_title { display:block; font-size:25px; color:#333333; padding-bottom:25px; }
.dv_border {
	border-top:1px solid #CBCAC4;
	border-bottom:1px solid #CBCAC4;
	padding:50px 0;
}
.dv_txt_right { text-align:right; }
.dv_table {width:100%;}
.dv_table td { padding:7px 0px; color:#666666; }
.font_color_333 { color:#333333; }


/* ====================================================================================================================
 * 메뉴
 * ====================================================================================================================*/
/* 스크롤 감지 고정메뉴 노출, 비노출 */
#header {position: fixed; left: 0; width: 100%; height: 74px; line-height: 52px; background: none; top: -76px; z-index:1000;}
#header.show {top: 35px; display: flex;}

.hamburger_logo {top: -25px;}
.hamburger_logo.show {top: 20px;}

.hamburger_logo img {
  height:18px;
  position: absolute;
  transition: .3s ease-in-out;
  display: block;
  top:27px; left:20px;
  z-index: 100;
}

.cart_button {
  position: absolute;
  transition: .3s ease-in-out;
  display: block;
  top: 20px;
  right: 60px;
  z-index: 100;
  font-size:15px;
}

.cart_num { padding-left:5px; font-size:13px; }

.hamburger-button {
  position: absolute;
  transition: .3s ease-in-out;
  width: 35px;
  height: 74px;
  display: block;
  top: 20px;
  right: 0px;
  z-index: 100;
}

.hamburger-button span {
  position: absolute;
  height: 2px;
  width: 14px;
  background-color: #252525;
  top: 0;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

.hamburger-button span:nth-child(1) { top: 9px; }

.hamburger-button span:nth-child(2) { top: 16px; }

.hamburger-button.active span { background-color: #252525; }


/* 햄버거 나가기 버튼 */
.hamburger-button-exit {float:right;}

.hamburger-button-exit span {
	position: absolute;
    height: 2px;
    width: 14px;
    background-color: #252525;
    top: 32px;
    right:20px;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

.hamburger-button-exit span:nth-child(1) { transform: rotate(45deg); }
.hamburger-button-exit span:nth-child(2) { transform: rotate(-45deg); }


/* ====================================================================================================================
 * 메뉴 로고
 * ====================================================================================================================*/
.menu_logo { position: fixed; top:20px; left:20px;}
.menu_logo img {width:73px;}


/* ====================================================================================================================
 * 메뉴 1단 하단 로그인, 검색
 * ====================================================================================================================*/
.visible .log_sear {
  animation: fadeInUp 2s ease forwards;
  position: absolute;
  bottom: 0;
}

.log_sear { width: 100%; padding: 20px 20px; background-color: #f6f5e8; font-size:15px; }

.log_ser .login,
.log_ser .search { display: inline-block;  animation-delay: 3s; }


@keyframes fadeInUp {
  0% {
      transform: translateY(20px);
      opacity: 0;
  }
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

.modal-backdrop.in { z-index:500; }
.modal-content {
	z-index:10000;
	border-radius: 0px;
	background-color:#FFFEF2;
	padding:50px 50px 60px 50px;
}

.modal-header {
	border-bottom:0px;
	padding: 0px;
}

.modal-title {
	font-size:28px;
	padding:30px 0px 10px 0px;
}

.modal-body {
	border:0px;
	padding:0px 0px 0px 0px;
}

.modal-body span {
	font-size:16px;
	font-weight:400;
	color:#666666;
	display:block;
	padding-bottom:30px;
}

.modal-body .form-group { padding-top:30px; padding-bottom:30px; }

.modal-body .form-control {
	background:none;
	border:0px;
	border-bottom:1px solid #666666;
	box-shadow:0px;
	transition:none;
	padding: 25px 0px;
	font-size:23px;
	-webkit-box-shadow: none;
}

.modal-footer {
	border-top:0px;
	padding-top:50px;
}

.btn-success {width:100%; padding:20px 0;}

/* ====================================================================================================================
 * 검색
 * ====================================================================================================================*/

.overlay_prod_search {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fffef2;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  border-top:10px solid #333333;
}

.menu_prod_search {
  position:relative;
  top:95px;
  left:20px;
  width:100%;
}

.menu_prod_search ul {
  margin-right:20px;
}

.menu_prod_search ul li {
  list-style: none;
  opacity: 0;
  margin-bottom:7px;
  width:auto;
  margin-right:20px;
}

.menu_prod_search ul li a {
  text-decoration: none;
  opacity: 0.75;
  transition: 0.2s ease;
  font-size:19px;
  color:#000000;
}

.menu1 ul li a:hover { opacity: 1; }

.overlay_prod_search.visible_prod_search { height: 100%; opacity: 1; z-index:10000; }

.visible_prod_search .menu_prod_search ul li { animation: fadeInLeft 0.3s ease forwards; }

.menu_prod_search ul li:nth-child(1) { animation-delay: 0.3s; }
.menu_prod_search ul li:nth-child(2) { 
	animation-delay: 0.34s;
	color: #666;
	font-size:0.9em;
	padding:15px 0px 8px 0px;
}
.menu_prod_search ul li:nth-child(3) { animation-delay: 0.38s; }
.menu_prod_search ul li:nth-child(4) { animation-delay: 0.42s; }
.menu_prod_search ul li:nth-child(5) { animation-delay: 0.46s; }
.menu_prod_search ul li:nth-child(6) { animation-delay: 0.50s; }


.menu_prod_search ul li:nth-child(1) input { 
	width:100%;
}

.menu_prod_search .form-control {
	background:none;
	border:0px;
	border-bottom:1px solid #666666;
	box-shadow:0px;
	transition:none;
	padding: 25px 0px;
	font-size:23px;
	-webkit-box-shadow: none;
}

.overlay_prod_search .hamburger_logo img { top: 118px; }
.overlay_prod_search .cart_button { top: 114px; }
.overlay_prod_search a,
.overlay_prod_search .hamburger-button-exit span { top: 126px; }
.overlay_prod_search a {z-index:3000;}
.menu_prod_search { padding-top:90px; }
.search_bt {
	position:absolute; top:13px; right:0px;
}
.search_bt button {
	background-image: url(../img/search.jpg);
	background-repeat:no-repeat;
	background-position:right center;
	background-size:16px 12px;
	width:16px;
	height:16px;
	border:0px;
	background-color:#fffef2;
}

/* ====================================================================================================================
 * 992px 이상
 * ====================================================================================================================*/
@media (min-width: 992px) {
    .menu_prod_search ul li:nth-child(1) { 
		width:30%;
	}
}

/* ====================================================================================================================
 * 작은 크기의 데스크탑 혹은 가로 992px 이상
 * ====================================================================================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
    .menu_prod_search ul li:nth-child(1) { 
		width:40%;
	}
}

/* ====================================================================================================================
 * 태블릿 PC 혹은 가로 768px 이상
 * ====================================================================================================================*/
@media (min-width: 768px) and (max-width: 991px) {
    .menu_prod_search ul li:nth-child(1) { 
		width:50%;
	}
}


/* ====================================================================================================================
 * 오버레이
 * ====================================================================================================================*/
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fffef2;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  border-top:10px solid #333333;
}

.menu {
  position:relative;
  top:95px;
  left:20px;
}

.menu ul li {
  list-style: none;
  opacity: 0;
  margin-bottom:7px;
}

@keyframes fadeInLeft {
from { opacity: 0; transform: translateX(-25%); }

to { opacity: 1; transform: translateX(0); }
}

.menu ul li a {
  text-decoration: none;
  opacity: 0.75;
  transition: 0.2s ease;
  font-size:19px; font-weight:400; color:#000000;
}

.menu ul li a:hover { opacity: 1; }

.overlay.visible { height: 100%; opacity: 1; z-index:10000; }

.visible .menu ul li { animation: fadeInLeft 0.3s ease forwards; }

.menu ul li:nth-child(1) { animation-delay: 0.3s; }
.menu ul li:nth-child(2) { animation-delay: 0.34s; }
.menu ul li:nth-child(3) { animation-delay: 0.38s; }
.menu ul li:nth-child(4) { animation-delay: 0.42s; }
.menu ul li:nth-child(5) { animation-delay: 0.46s; margin-bottom:40px; }
.menu ul li:nth-child(6) { animation-delay: 0.50s; }
.menu ul li:nth-child(7) { animation-delay: 0.54s; }

.menu ul li:nth-child(6) a,
.menu ul li:nth-child(7) a { font-size:14px; font-weight:300; color:#666666; }


/* ====================================================================================================================
 * 오버레이1
 * ====================================================================================================================*/
.overlay1 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fffef2;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  border-top:10px solid #333333;
}

.menu1 {
  position:relative;
  top:95px;
  left:20px;
}

.menu1 ul li {
  list-style: none;
  opacity: 0;
  margin-bottom:7px;
}

.menu1 ul li a {
  text-decoration: none;
  opacity: 0.75;
  transition: 0.2s ease;
  font-size:19px; font-weight:400;
  color:#000000;
}

.menu1 ul li a:hover { opacity: 1; }

.overlay1.visible1 { height: 100%; opacity: 1; z-index:10000; }

.visible1 .menu1 ul li { animation: fadeInLeft 0.3s ease forwards; }

.menu1 ul li:nth-child(1) { animation-delay: 0.3s; }
.menu1 ul li:nth-child(2) { animation-delay: 0.34s; }
.menu1 ul li:nth-child(3) { animation-delay: 0.38s; }
.menu1 ul li:nth-child(4) { animation-delay: 0.42s; }
.menu1 ul li:nth-child(5) { animation-delay: 0.46s; }
.menu1 ul li:nth-child(6) { animation-delay: 0.50s; }
.menu1 ul li:nth-child(7) { animation-delay: 0.54s; }
.menu1 ul li:nth-child(8) { animation-delay: 0.58s; }
.menu1 ul li:nth-child(9) { animation-delay: 0.62s; }
.menu1 ul li:nth-child(10) { animation-delay: 0.66s; }


/* ====================================================================================================================
 * 오버레이2
 * ====================================================================================================================*/
.overlay2 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fffef2;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  border-top:10px solid #333333;
}

.menu2 {
  position:relative;
  top:95px;
  left:20px;
}

.menu2 ul li {
  list-style: none;
  opacity: 0;
  margin-bottom:7px;
}

.menu2 ul li a {
  text-decoration: none;
  opacity: 0.75;
  transition: 0.2s ease;
  font-size:19px; font-weight:400;
  color:#000000;
}

.menu2 ul li a:hover { opacity: 1; }

.overlay2.visible2 { height: 100%; opacity: 1; z-index:10000; }

.visible2 .menu2 ul li { animation: fadeInLeft 0.3s ease forwards; }

.menu2 ul li:nth-child(1) { animation-delay: 0.3s; }
.menu2 ul li:nth-child(2) { animation-delay: 0.34s; }
.menu2 ul li:nth-child(3) { animation-delay: 0.38s; }
.menu2 ul li:nth-child(4) { animation-delay: 0.42s; }
.menu2 ul li:nth-child(5) { animation-delay: 0.46s; }


/* ====================================================================================================================
 * 오버레이3
 * ====================================================================================================================*/
.overlay3 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fffef2;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  border-top:10px solid #333333;
}

.menu3 {
  position:relative;
  top:95px;
  left:20px;
}

.menu3 ul li {
  list-style: none;
  opacity: 0;
  margin-bottom:7px;
}

.menu3 ul li a {
  text-decoration: none;
  opacity: 0.75;
  transition: 0.2s ease;
  font-size:19px; font-weight:400;
  color:#000000;
}

.menu3 ul li a:hover { opacity: 1; }

.overlay3.visible3 { height: 100%; opacity: 1; z-index:10000; }

.visible3 .menu3 ul li { animation: fadeInLeft 0.3s ease forwards; }

.menu3 ul li:nth-child(1) { animation-delay: 0.3s; }
.menu3 ul li:nth-child(2) { animation-delay: 0.34s; }
.menu3 ul li:nth-child(3) { animation-delay: 0.38s; }
.menu3 ul li:nth-child(4) { animation-delay: 0.42s; }
.menu3 ul li:nth-child(5) { animation-delay: 0.46s; }


/* ====================================================================================================================
 * 오버레이5
 * ====================================================================================================================*/
.overlay5 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fffef2;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  border-top:10px solid #333333;
}

.menu5 {
  position:relative;
  top:95px;
  left:20px;
}

.menu5 ul li {
  list-style: none;
  opacity: 0;
  margin-bottom:7px;
}

.menu5 ul li a {
  text-decoration: none;
  opacity: 0.75;
  transition: 0.2s ease;
  font-size:19px; font-weight:400;
  color:#000000;
}

.menu5 ul li a:hover { opacity: 1; }

.overlay5.visible5 { height: 100%; opacity: 1; z-index:10000; }

.visible5 .menu5 ul li { animation: fadeInLeft 0.3s ease forwards; }

.menu5 ul li:nth-child(1) { animation-delay: 0.3s; }
.menu5 ul li:nth-child(2) { animation-delay: 0.34s; }
.menu5 ul li:nth-child(3) { animation-delay: 0.38s; }



/* ====================================================================================================================
 * 오버레이6
 * ====================================================================================================================*/
.overlay6 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fffef2;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
  border-top:10px solid #333333;
}

.menu6 {
  position:relative;
  top:95px;
  left:20px;
}

.menu6 ul li {
  list-style: none;
  opacity: 0;
  margin-bottom:7px;
}

.menu6 ul li a {
  text-decoration: none;
  opacity: 0.75;
  transition: 0.2s ease;
  font-size:19px; font-weight:400;
  color:#000000;
}

.menu6 ul li a:hover { opacity: 1; }

.overlay6.visible6 { height: 100%; opacity: 1; z-index:10000; }

.visible6 .menu6 ul li { animation: fadeInLeft 0.3s ease forwards; }

.menu6 ul li:nth-child(1) { animation-delay: 0.3s; }
.menu6 ul li:nth-child(2) { animation-delay: 0.34s; }
.menu6 ul li:nth-child(3) { animation-delay: 0.38s; }
