/* ====================================================================================================================
 * 메인, 배너 텍스트 박스
 * ====================================================================================================================*/
.txt_box { padding-left: 20px; padding-top: 25px; }
.txt_box h1 { font-size:24px; margin-bottom:30px; }
.txt_box h2 { font-size:25px; margin-top:20px;}



/* ====================================================================================================================
 * 메인
 * ====================================================================================================================*/
.m_img_box { background-color: #f6f5e7; }

.m_img_box h1 { padding-top: 50px; font-size: 24px; padding-top: 100px; padding-left: 20px; }


.m_box { padding:30px 20px 60px 20px; }

.form-body {
	border:0px;
	padding:0px 0px 0px 0px;
}

.form-body .form-group input { font-size: 18px; width: 90%; margin-left: 20px;}

.form-body .form-control {
	background:none;
	border:0px;
	border-bottom:2px solid #666666;
	box-shadow:0px;
	transition:none;
	padding: 25px 0px;
	font-size:18px;
	-webkit-box-shadow: none;
}

.panel-group {
	width: 90%;
	margin: auto;
	padding-top: 10px;
	padding-right: 20px;
	
}

.panel panel-default {
	border-style: none;
}

.panel-heading {
	background-color: #fffef2;
}

.panel-body {
	background-color: #fffef2;
}

.panel-body .image {
	width: 100%;
	height: 400px;
	padding-top: 50px;
}

.panel-body .image img {
	width: 100%;
	margin: auto;
}

.table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
  }


.form-group2 { margin-top: 12px; }

/* ====================================================================================================================
 * 큰 크기의 데스크탑 혹은 가로 1200px 이상
 * ====================================================================================================================*/
@media (min-width: 1200px) {
    
}


/* ====================================================================================================================
 * 작은 크기의 데스크탑 혹은 가로 992px 이상
 * ====================================================================================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
    
}


/* ====================================================================================================================
 * 태블릿 PC 혹은 가로 768px 이상
 * ====================================================================================================================*/
@media (min-width: 768px) and (max-width: 991px) {
    
}


/* ====================================================================================================================
 * 가장 작은 해상도 (핸드폰종류, 가로 480px 이하)
 * ====================================================================================================================*/
@media (max-width: 767px) {
    
 }
